.section {
	padding-top: calc(10vh + 32px);
}

.hero {
	display: flex;
	flex-direction: column;
	// gap: calc(5vh + 32px);
	gap: 32px;
	position: relative;
	// outline: 1px solid red;

	&-title {
		display: flex;
		flex-direction: column;
		gap: calc(2vh + 16px);
		width: 100%;
		height: 100%;

		overflow: hidden;
		padding: 24px;
		z-index: 10;
		justify-content: center;
		align-items: center;

		// outline: 1px solid red;

		img {
			object-fit: contain;
			width: 100%;
			max-width: 1400px;
			height: auto;
			// outline: 1px solid blue;
			will-change: transform, opacity;
		}
	}

	&-bg {
		width: 100%;
		height: 120vh;
		margin-top: -6vh;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		margin-top: -40vh;

		img {
			object-fit: cover;
			object-position: 50% 0%;
			width: 100%;
			height: 100%;
			scale: 1.2;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: calc(32px);
		text-align: center;
		padding: calc(2vw + 20px);
		// outline: 1px solid red;
		max-width: 1440px;
		margin: 0 auto;
	}

	&-text {
		font-size: clamp(24px, 8vw, 36px);
		overflow: hidden;
		line-height: 1.1;
	}

	&-btn-row {
		margin: 30px 0;
	}
}
