include ../../components/_ui/buttons/main-btn/template
section.hero
  
  h1.visually-hidden(style="display:none;") Moscovia Stables

  .hero-section.hero-section--top
    .hero-bg
      img(src="./assets/img/hero-img.png" alt="Изображение" width="1920" height="1080" data-speed="auto")
    .hero-title
      img(src="./assets/img/moscovia.png" alt="Изображение" width="1920" height="1080")
      img(src="./assets/img/stables.png" alt="Изображение" width="1920" height="1080")