include ../../components/_ui/buttons/main-btn/template
section.section.hero
  .hero-title
    img(src="./assets/img/moscovia.svg" alt="Изображение" width="1920" height="1080")
    img(src="./assets/img/stables.svg" alt="Изображение" width="1920" height="1080")
  .hero-bg
    img(src="./assets/img/hero-img.png" alt="Изображение" width="1920" height="1080" data-speed="auto")

  .hero-content
    h1.visually-hidden(style="display:none;") Moscovia Stables
    p.base-text.hero-text Московские конюшни представляют собой многопрофильный бизнес в сфере коневодства и конного спорта.Компания успешно сочетает традиционные методы коневодства с современными бизнес-подходами. 
    p.base-text.hero-text Московские конюшни представляют собой многопрофильный бизнес в сфере коневодства и конного спорта.Компания успешно сочетает традиционные методы коневодства с современными бизнес-подходами.
    .btn-row.hero-btn-row
      button.main-btn
        span Связаться с нами
      button.main-btn.--outlined Купить сертификат