.services-preview {
	position: relative;
	margin-top: -200px;
	min-height: 100svh;

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		max-width: 30vw;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -1;
	}

	&::before {
		top: 0;
		left: 0;
		background-image: url("@img/services-preview-decor-left.png");
		background-position: top;
	}

	&::after {
		top: 200px;
		right: 0;
		background-image: url("@img/services-preview-decor-right.png");
		background-position: bottom;
	}
}

.services-preview__grid {
	display: flex;
	flex-direction: column;
	gap: 148px;
	margin-bottom: 280px;
}

.services-preview-card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;

	&__image {
		width: 100%;
		height: 100%;
		position: relative;
		// outline: 1px solid red;

		&::before,
		&::after {
			position: absolute;
			z-index: -1;

			content: "";
			width: 75%;
			height: 75%;
			background-color: var(--primary-color);
			filter: blur(8px);
			opacity: 0.4;
		}

		&::before {
			top: -25px;
			left: -25px;
		}

		&::after {
			bottom: -25px;
			right: -25px;
		}

		img {
			display: flex;
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-top: 15%;
		margin-left: -40%;
		will-change: transform, opacity;

		z-index: 4;

		&-title {
			display: inline-block;
			font-size: 64px;
			font-weight: 700;
			font-family: var(--secondary-font);
			margin-bottom: 40px;
			max-width: 90%;
			overflow: hidden;
			will-change: transform, opacity;

			&::first-letter {
				font-size: 1.5em;
				color: var(--danger-color);
			}
		}

		&-text {
			font-size: 28px;
			max-width: 840px;
			will-change: transform, opacity;
		}
	}
}

.services-preview__btn-row {
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
// вынести в отдельное место! это компонент
.accent-link {
	display: flex;
	width: fit-content;
	font-size: 1.2em;
	font-family: var(--secondary-font);
	color: var(--white-color);
	position: relative;
	padding: 15px 24px 10px;
	will-change: transform;
	transition: background-color var(--main-transition),
		opacity var(--main-transition);

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
	}

	&::before {
		top: 0;
		left: 0;
		border-top: 3px solid var(--danger-color);
		border-left: 3px solid var(--danger-color);
	}

	&::after {
		bottom: 0;
		right: 0;
		border-bottom: 3px solid var(--danger-color);
		border-right: 3px solid var(--danger-color);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--dark-color);
			opacity: 0.8;
		}
	}
}
