mixin service-card(title, image, image2)
  .services-preview__grid-item
    .services-preview-card
      .services-preview-card__image
        img(src=`../assets/img/${image}.png` alt="")
      .services-preview-card__content
        span.services-preview-card__content-title #{title}
        p.services-preview-card__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quas aspernatur tempore itaque odio.
        a(href="#").services-preview-card__content-link Подробнее
section.services-preview.base-section
  .container
    .base-section__header
      h2.base-title Наши Услуги
      p.base-text Подарите себе и близким радость общения с умнейшими животными и активный отдых на свежем воздухе!

    .services-preview__grid
      +service-card("Профессиональный конный спорт", "services-previw-card-bg1")
      +service-card("Школа верховой езды", "services-previw-card-bg2")
      +service-card("Экскурсия на конюшню", "services-previw-card-bg1")
    
    .btn-row.services-preview__btn-row
      button.main-btn
        span Связаться с нами
      button.main-btn.--outlined Купить сертификат