section.events#events
  .container
    h2.base-title Ближайшие мероприятия 
    
    #events-preview-scroll-container
      a(href="#").event-preview-card
        span.event-preview-card__title Масленицу провожаем, а весну встречаем
        p.base-text Гуляния, традиционные забавы, вкусные блины и, конечно, конные шоу – проводим зиму с размахом!

        .event-preview-card__link Подробнее
      a(href="#").event-preview-card
        span.event-preview-card__title Масленицу провожаем, а весну встречаем вместе
        p.base-text Гуляния, традиционные забавы, вкусные блины и, конечно, конные шоу – проводим зиму с размахом!

        .event-preview-card__link Подробнее

      a(href="#").event-preview-card
        span.event-preview-card__title Масленицу провожаем, а весну встречаем
        p.base-text Гуляния, традиционные забавы, вкусные блины и, конечно, конные шоу – проводим зиму с размахом!

        .event-preview-card__link Подробнее
      a(href="#").event-preview-card
        span.event-preview-card__title Масленицу провожаем, а весну встречаем
        p.base-text Гуляния, традиционные забавы, вкусные блины и, конечно, конные шоу – проводим зиму с размахом!

        .event-preview-card__link Подробнее

      a(href="#").event-preview-card
        h2.event-preview-card__title Масленицу провожаем, а весну встречаем 
        p.base-text Гуляния, традиционные забавы, вкусные блины и, конечно, конные шоу – проводим зиму с размахом!

        .event-preview-card__link Подробнее


    