.coach-preview {
	position: relative;
	margin: clamp(80px, 20vw, 240px) 0;

	.base-section__header {
		margin-bottom: 80px;
	}

	.swiper-container {
		position: relative;
		margin-bottom: 80px;
		z-index: 20;
	}

	.swiper-wrapper {
		padding: 20px 0 80px;
		// outline: 1px solid red;
	}

	.swiper-slide {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: fit-content;
		height: auto;
		max-height: 680px;
		// opacity: 0;
		// transition: all 0.5s ease;
		// overflow: hidden;
		// outline: 1px solid red;
		filter: blur(4px);

		transform-origin: center;
		transition: all 0.3s ease;

		&-active {
			filter: blur(0);
		}
	}

	// .swiper-slide-active,
	// .swiper-slide-visible,
	// .swiper-slide-fully-visible {
	// 	opacity: 1;
	// }

	// .swiper-slide-prev,
	// .swiper-slide-next {
	// 	opacity: 0.7;
	// }

	& > img {
		object-fit: contain;
		width: 100%;
		max-width: 1140px;
		height: auto;
		object-position: center;
		position: absolute;
		bottom: -80px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 11;
		opacity: 0.6;
		pointer-events: none;
	}
}

.coach-card {
	display: flex;
	width: 100%;
	height: 100%;
	// // max-width: 320px;
	// height: auto;
	// max-height: 80vh;
	// padding: 8px;
	background-color: transparent;
	// backdrop-filter: blur(1px);
	// border: 1px solid var(--primary-color);

	// &::before,
	// &::after {
	// 	position: absolute;

	// 	content: "";
	// 	background-color: var(--primary-color);
	// 	width: 50%;
	// 	height: 50%;
	// 	z-index: -1;
	// 	transition: width 0.8s linear, height 0.8s linear;
	// }

	// &::before {
	// 	top: 0;
	// 	left: 0;
	// }

	// &::after {
	// 	bottom: 0;
	// 	right: 0;
	// }

	img {
		display: flex;
		width: 100%;
		height: auto;
		object-fit: contain;
		will-change: transform, opacity;
	}

	&__content {
		position: absolute;
		bottom: -60px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		gap: 6px;
		width: 100%;
		min-width: fit-content;
		padding: 8px 24px;
		text-align: center;
		// outline: 1px solid red;

		&-title {
			font-size: 64px;
			font-weight: 700;
			font-family: var(--secondary-font);
			margin-bottom: 12px;
			color: var(--primary-color);
			text-shadow: 3px 3px var(--danger-color);
		}

		&-text {
			font-size: 32px;
			color: var(--white-color);
		}
	}
}

.swiper-slide-active .coach-card {
	&::before,
	&::after {
		width: 80%;
		height: 90%;
	}
}
