section.coach-preview.base-section
  .container-fluid
    .base-section__header
      h2.base-title.gsap-animated-title Наши тренеры
      p.base-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas alias error totam perspiciatis odio ut neque eos debitis, aut nihil quo quos unde, magni quas obcaecati minima et. Quam, excepturi.

    .swiper-container
      .swiper.coach-preview-slider
        .swiper-wrapper
          .swiper-slide
            a(href="#").coach-card
              img(src=`../assets/img/coach-mock1.png` alt="" width="600" height="400")
              .coach-card__content
                .coach-card__content-title Константин Константинов1
                .coach-card__content-text Кандидат в мастера спорта по выездке
          .swiper-slide
            a(href="#").coach-card
              img(src=`../assets/img/coach-mock2.png` alt="" width="600" height="400")
              .coach-card__content
                .coach-card__content-title Егор Шмиц2
                .coach-card__content-text Кандидат в мастера спорта по выездке
          .swiper-slide
            a(href="#").coach-card
              img(src=`../assets/img/coach-mock3.png` alt="" width="600" height="400")
              .coach-card__content
                .coach-card__content-title Ольга Александрова3
                .coach-card__content-text Кандидат в мастера спорта по выездке
          .swiper-slide
            a(href="#").coach-card
              img(src=`../assets/img/coach-mock1.png` alt="" width="600" height="400")
              .coach-card__content
                .coach-card__content-title Константин Константинов4
                .coach-card__content-text Кандидат в мастера спорта по выездке
          .swiper-slide
            a(href="#").coach-card
              img(src=`../assets/img/coach-mock2.png` alt="" width="600" height="400")
              .coach-card__content
                .coach-card__content-title Константин Константинов5
                .coach-card__content-text Кандидат в мастера спорта по выездке
          .swiper-slide
            a(href="#").coach-card
              img(src=`../assets/img/coach-mock3.png` alt="" width="600" height="400")
              .coach-card__content
                .coach-card__content-title Константин Константинов6
                .coach-card__content-text Кандидат в мастера спорта по выездке
        
  img(src="../assets/img/coach-bg.png" alt="" width="600" height="400")



