.features {
	position: relative;

	&-img {
		width: 100%;
		height: 50%;

		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			will-change: transform, width, opacity;
		}
	}

	&__grid {
		display: flex;
		align-items: flex-start;
		gap: 48px;
		outline: 1px solid red;

		&-item {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: clamp(24px, 8vw, 120px);
			gap: 12px;
			width: calc(25% - 48px);

			strong {
				font-size: 1em;
				color: var(--primary-color);
				border-radius: 50%;
				border: 2px solid var(--primary-color);
				width: 100%;
				display: flex;
				justify-content: center;

				position: relative;
				padding: 12px;
				font-variant-numeric: tabular-nums;

				&::after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: "";
					border-radius: 50%;
					border: 2px solid var(--primary-color);
					transform: rotate(-2deg);
				}

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: "";
					border-radius: 50%;
					border: 2px solid var(--primary-color);
					transform: rotate(2deg);
				}
			}

			span {
				font-size: 0.3em;
				text-wrap: balance;

				&::first-letter {
					font-size: 2em;
					font-weight: 500;
					color: var(--secondary-color);
				}
			}
		}
	}
}
