section.features

  //- .features-img
    //- img(src="./assets/img/hero-img.png" alt="Изображение" width="1920" height="1080" data-speed="auto")

  .features__grid
    .features__grid-item(data-speed="1.8")  
      strong 10 
      span гектаров земли
    .features__grid-item(data-speed="1.4") 
      strong 14 
      span манежей
    .features__grid-item(data-speed="1.6") 
      strong 250 
      span единиц инвенторя
    .features__grid-item(data-speed="1.8") 
      strong 130 
      span голов лошадей
      