section.features
  img(src="./assets/img/decor-left.svg" alt="" width="140" height="140").features-decor-img.features-decor-img--left
  img(src="./assets/img/decor-right.svg" alt="" width="140" height="140").features-decor-img.features-decor-img--right
  .features__grid
    .features__grid-item
      strong 10 
      span гектаров<br>земли
    .features__grid-item
      strong 14 
      span манежей
    .features__grid-item
      strong 250 
      span единиц<br>инвенторя
    .features__grid-item
      strong 130 
      span голов<br>лошадей