section.about 
  .about__grid
    .about__grid-item(data-speed="1.8")
      img(src="./assets/img/about-img-3.png" alt="Параллакс картинка" width="300" height="700")
      img(src="./assets/img/about-img.png" alt="Параллакс картинка" width="300" height="700")
      img(src="./assets/img/about-img.png" alt="Параллакс картинка" width="300" height="700")
    .about__grid-item(data-speed="1.6")
      h2.base-title О нас
      
      p.base-text Наша конюшня — это место, где живут страсть к лошадям, профессиональный спорт и душевный отдых. Мы объединяем любителей верховой езды, спортсменов и тех, кто просто хочет насладиться общением с этими удивительными животными.
      p.base-text С 2018 года мы создаем комфортные условия для обучения, тренировок и прогулок. Наши инструкторы — опытные наездники с педагогическим подходом, а лошади — воспитанные, здоровые и дружелюбные партнеры.
      p.base-text Мы верим, что верховая езда — это не просто спорт, а особый образ жизни, который дарит радость, уверенность в себе и гармонию с природой.
    .about__grid-item(data-speed="1.4")
      img(src="./assets/img/about-img.png" alt="Параллакс картинка" width="300" height="700")
      img(src="./assets/img/about-img-2.png" alt="Параллакс картинка" width="300" height="700")
      img(src="./assets/img/about-img.png" alt="Параллакс картинка" width="300" height="700")
